/* You can add global styles to this file, and also import other style files */
@import'~@angular/material/prebuilt-themes/purple-green.css';

body{
    padding: 1em;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;

}


